.backgroundClr{
  background-color: #f8f8f8;
  min-height: 50px;
  margin-bottom: 20px;
}

.navbar{
  margin-bottom: 0px;
  border: 0;
}

.navbar-brand{
  padding: 0;
}

@media (min-width: 769px) {
  .navbar{
    margin-bottom: 0px;
    border: 0;
    height: 50px;
  }

}

